[Unit]
Description=ADC Reader for Controller 3 (0x4a)
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/haven/BirdBath/beertaps
ExecStart=/usr/bin/python3 /home/pi/haven/BirdBath/beertaps/adc_reader.py /home/pi/haven/BirdBath/beertaps/adc_config_3.json
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
