[Unit]
Description=ADC Reader for Controller 1 (0x48)
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/haven/BirdBath/beertaps
ExecStart=/home/pi/haven/BirdBath/beertaps/adc_reader.sh /home/pi/haven/BirdBath/beertaps/adc_config_1.json
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
