[Unit]
Description=FLG Haven Trigger Server
After=network.target

[Service]
Environment="PYTHONPATH=/home/flaming/haven/util"
ExecStart=/usr/bin/python3 /home/flaming/haven/Triggers/trigger_gateway.py
WorkingDirectory=/home/flaming/haven/Triggers
Restart=always
User=flaming

[Install]
WantedBy=multi-user.target
